<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join ICI</title>
    <link rel="stylesheet" href="/static/join.css">
</head>
<body>
    {% include '_header.html' %}
    <h1>Join ICI</h1>
    <div id="qr-container">
        <canvas id="qr-code"></canvas>
    </div>
    <p id="qr-url"></p>
    <hr>
    <div id="client-table-section">
      <table id="client-table-html" border="1" style="margin-top:1em;width:100%;border-collapse:collapse;"></table>
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="/static/join.js" defer></script>
    {% include '_footer.html' %}
</body>
</html>
